body {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Salta_in_Argentina_%28%2BFalkland_hatched%29.svg/280px-Salta_in_Argentina_%28%2BFalkland_hatched%29.svg.png);
background-repeat: no-repeat;background-size: 100%; text-align: left;}
.titulos { text-decoration: underline; color: red}
